.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font, 'Inter-Variable', sans-serif);
  font-variation-settings: 'wght' var(--title_font-weight, 700);
  background-color: var(--background-color,  #FFFFFF);
  color: var(--accent-color, #000000);
  background-image: var(--background-image);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.header {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--background-color,  #FFFFFF);
  border: 2px solid var(--accent-color,  #000000);
  margin-block: 98px;
  font-family: var(--accent-font, 'PressStart2P', monospace);
}

.logo {
  font-size: clamp(3.0625rem, 2.7768rem + 1.4286vw, 4.0625rem);
  text-transform: uppercase;
  padding-block-start: clamp(7.5rem, 7.2143rem + 1.4286vw, 8.5rem);
  padding-block-end: 20px;
  align-self: center;
}

.header__title {
  font-size: clamp(0.875rem, 0.7143rem + 0.8036vw, 1.4375rem);
  text-transform: uppercase;
  align-self: center;
}

.header__theme-menu {
  padding-block: 25px;
  padding-inline-start: 40%;
  padding-inline-end: 33%;
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.theme-menu__button {
  position: relative;
  font-size: var(--font-size, 14px);                             
  line-height: 1em;
  text-transform: uppercase;
  border: none;
  background-color: transparent;
}

.theme-menu__button:disabled {
  pointer-events: none;
  opacity: 0.6;
}

.theme-menu__button:hover {
  opacity: 0.6;
}

.theme-menu__button:focus {
  outline: none;
}

.theme-menu__button::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 2px;  
  left: 0;
  bottom: -3px;  
  transition: transform 0.3s ease;
  transform: scaleX(0);
  transform-origin: left;   
}

.theme-menu__button:not(:disabled):focus-visible::after {
  transform: scaleX(1);
  background-color: var(--accent-color, #000000);    
  opacity: 0.6;            
}

.theme-menu__button:not(:disabled):focus-visible {
  color: var(--accent-color, #000000);    
  opacity: 0.6;   
}


.theme-menu__button:disabled::before {
  position: absolute;
  content: '▶';
  top: 0;
  left: 0;
  animation: some-animation 0.5s ease-in-out infinite alternate-reverse;
}

.section { 
  background-color: var(--background-color, #FFFFFF);
  margin-block-end: 50px;
  border: 2px solid var(--accent-color, #000000);
}

.section__header {
  padding-inline: 10px;
  padding-block: 5px;
  font-weight: var( --title_font-weight, 700);
  font-size: 18px;
  border-bottom: 2px solid var(--accent-color, #000000);
  line-height: 1.21em;
}

.container {
  position: relative;
}

.card__label {
  position: absolute;
  display: inline-block;
  font-family: var(--accent-font, 'PressStart2P', monospace);
  font-size: var(--font-size, 14px);
  inset-block-start: 25px;
  inset-inline-end: clamp(13px, 0.5982rem + 1.0714vw, 25px);
  color: var(--accent-color, #000000);
  mix-blend-mode: hard-light;
  text-shadow:
  -1px 0 var(--background-color,  #FFFFFF), 
  0 1px var(--background-color,  #FFFFFF), 
  1px 0 var(--background-color,  #FFFFFF), 
  0 -1px var(--background-color,  #FFFFFF);
  opacity: 50%;
}

@supports((text-stroke: 1px  #FFFFFF) or (-webkit-text-stroke: 1px  #FFFFFF)) {
  .card__label {
      -webkit-text-stroke: 1px var(--background-color,  #FFFFFF);
      text-stroke: 1px var(--background-color,  #FFFFFF);
      text-shadow: none;
  }
} 

.article__image {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  object-position: center;
}

.card-content {
  border-top: 2px solid var(--accent-color, #000000);
  padding-block-start: 25px;
  padding-block-end: 25px;
  padding-inline: 25px;
  font-size: 18px;
  font-variation-settings: 'wght' var( --text_font-weight, 400);
  line-height: 1.168em;
}

.card-content > p:first-child {
  margin-block-end: 27px;
}

.card-text-width {
  width: 92%;
}

.section_buttons {
  display: flex;
  justify-content: end;
  align-items: end;
  gap: 1px;
  padding-block: 0 25px;
  padding-inline-end: 25px;
}

.card__icon-button {
  display: flex;
  align-items: center;
  height: 38px;
  border: none;
  cursor: pointer;
  background-color: var(--background-color, #FFFFFF);
}

.card__icon-button:focus {
  outline: none;
  border: 2px solid transparent;
}

.card__icon-button:focus-visible {
  border: 2px solid var(--accent-color,  #000000);
}

.sparks {
  opacity: 0;
}

.button {
  position: relative;
  background-color: var(--background-color,  #FFFFFF);
  font-family: var(--accent-font, 'PressStart2P', monospace);
  font-size: var(--font-size, 14px);
  line-height: 0.9em;
  cursor: pointer;
  border: 2px solid var(--accent-color, #000000);
}

.card__like-button {
  inline-size: 130px;
  block-size: 38px;
}

.button:focus {
  outline: none;
  box-shadow: 2px 2px 0px var(--accent-color, #000000);
}

.button::before {
  position: absolute;
  content: '';
  top: 0; 
  left: 0;
  height: 100%;
  width: 100%;
  background: var(--accent-color, #000000);
  transform: scaleX(0);
  transform-origin: left;   
  transition: transform 0.5s ease-in-out;
}

.button:hover::before {
  transform: scaleX(1);
}


.button__text {
  color: var(--button__text-color, #FFFFFF);
  mix-blend-mode: difference;
}

.save__button {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  padding: 15px 20px;
  margin-block-end: 100px;
}

.floppy {
  width: 29px;
  mix-blend-mode: difference;
  color: var(--button__text-color, #FFFFFF);
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal__content {
  display: flex;
  gap: 20px;
}

.modal_text {
  font-family: var(--accent-font, 'PressStart2P', monospace);
  color: var(--accent-color,  #000000);
  font-size: var(--font-size, 14px);
  line-height: 1.168em;
  text-transform: uppercase;
}

.modal {
  display: none;
  background-color: var( --background-color,#FFFFFF);
  border: 2px solid var(--accent-color, #000000);
}

.modal[open] {
  position: fixed;
  margin: auto;
  display: grid;
  gap: 30px;
  padding: 30px 36px;
 
}

.modal__button {
  block-size: 38px;
  inline-size: 257px;
  text-transform: uppercase;
}

.floppy-dialog {
  max-width: 39px;
  color: var(--accent-color, #000000);
}

.modal::backdrop {
  background-color: #000000;
  opacity: 0.75;
}

.card__one-image {
  filter: sepia(100%);
}

.card__two-image {
  filter: brightness(150%);
}

.card__three-image {
  filter: opacity(0.8) contrast(50%);
}

.card__four-image {
  filter: blur(0.2em);
}

.card__five-image {
  filter: grayscale(0.6);
}

.card__six-image {
  filter: invert(0.8);
}

.card__seven-image {
  filter: saturate(50%);
}

.card__eight-image {
  filter: invert(0.3) hue-rotate(90deg);
}


@media (width >= 376px) {

.header {
  max-width: 700px;
  margin-block: 100px;
}

.header__theme-menu {
  padding-inline-start: 44.5%;
  padding-inline-end: 42.4%; 
}
 
.save__button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 335px;
}

.button__text {
  white-space: nowrap;
}

.floppy {
  min-width: 21px;
}

.modal[open] {
  width: 357px;
  padding-block: 30px;
}

.modal__button {
  inline-size: 281px;
}

.card-text-width {
  width: 100%;
} 
}



