:root {
    --main-font: 'Inter-Variable', sans-serif;
    --accent-font: 'PressStart2P', monospace;
    --text_font-weight: 400;
    --title_font-weight: 700;
    --font-size: 14px;
    --background-color: #FFFFFF;
    --accent-color: #000000;
    --background-image:  
        repeating-linear-gradient(to right, #d3d3d3 0 2px, transparent 2px 4px),
        repeating-linear-gradient(to bottom, #d3d3d3 0 2px, transparent 2px 4px),
        linear-gradient(to bottom, #e7e7e7 0.01%, #1a1a1a);
    --fill-color: #FF0000;
    --button__text-color: #FFFFFF;
    




}